body {
    background-color: #650000;
}

* {
    text-align: center;
}

/*video {
    width: 200px;
    height: auto;
    background-color: green;
    margin: 5px;
    padding: 15px;
}*/

.image img, video {
    width: 300px;
    height:auto;
    background-color: green;
    margin: 15px;
    padding: 15px;
}

h1 {
    font-size: 48px
}

h1, h2, h3, h4, h5, header, footer {
        color: dimgrey;

}



/*-TRIP_1-*/


.trip1_pic1, .trip1_pic2, .trip1_pic3, .trip1_pic4 {
    background-color: white;
    width:375px
    
}

/*◊◊◊◊◊◊◊◊◊◊◊◊◊◊◊◊◊-TRIP_ROME-◊◊◊◊◊◊◊◊◊◊◊◊◊◊◊◊◊◊◊◊◊*/

.trip-rome {
}

.rome {
    background-color: white;
    width:375px;
}

/*_VILLANOVA_*/

.villanova {
}

.villanova img {
    margin: 15px;
    padding: 15px;
    width: 200px;
    
}

.nova {
    float: left;
    /*visibility: hidden;*/
    background-color: white;
    width:250px;
}

.not_nova {
    /*visibility: hidden;*/
    background-color: white;
    width:250px;
    display: inline-block;
    float: left

}

.nova_par { 
    display: inline-block

}

/*_PIO-MOUNTAIN_TOWN-*/

.pio {
    background-color: white;
    width:375px;

}

.mt_town {
    background-color: white;
    width:375px;
    height: auto;
}


/*FORTE_DI_MARMI*/

.forte_di_marmi {}

.marmi_pic {}

.marmi {
    background-color: white;
    width:375px;
}

/*VENICE*/

.trip_venice {
    width: 375px;
}

.venice {
    background-color: white;
    width:375px;
}

.venice_boat {
    width: 375px;
    background-color: white;
}

.venice_boat1 {
    float: left;
    /*visibility: hidden;*/
}

.venice_boat2 {
    /*visibility: hidden;*/
    display: inline-block;
}

.venice_par { 
    display: inline-block

}



/*MEDIA_QUERY*/
@media screen and (max-width:1000px) {
    .italia {
    width: 500px;
    height: auto;
    }


}

@media screen and (max-width: 700px) {
  .image img, video {
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: auto;
  }
 .italia {
     width: 500px;
     height: auto;
 }
}

@media screen and (max-width:400px) {
    .image img, video, .venice, .marmi, .mt_town, .pio, .nova, .not_nova, .rome, .trip1_pic1, .trip1_pic2, .trip1_pic3, .trip1_pic4 {
    display: block;
    width: 200px;
    margin: auto;
    overflow: hidden;
    height: auto;

}
   .italia {
     width: 350px;
     height: auto
 }

}

