
/*--I am running a lot of problems getting the tet to loook perfect as it shifts throught the slides. I am pushing it to git but will continute to work on it --*/
.ei-slider{
	position: relative;
	width: 100%;
	max-width: 1320px;
	height: 650px;
	margin: 0 auto;
    
}
.ei-slider-loading{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:999;
	background: rgba(0,0,0,0.9);
	color: #fff;
	text-align: center;
	line-height: 400px;
}
.ei-slider-large{
	height: 100%;
	width: 100%;
	position:relative;
	overflow: hidden;
}
.ei-slider-large li{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.ei-slider-large li img{
	width: 100%;
}

/*-----------------------------------------*/
/*-----------------TITLE-------------------*/
/*-----------------------------------------*/

.ei-title {
	position: absolute;
	right: 0%;
	margin-right: 4%;
	top: 40%;
    float:right;
    opacity: 0.7;
}

.ei-title h2, .ei-title h3 {
	text-align: right;
    display: inline-block;
    padding-left: 90%;
}
.ei-title h2 {
	font-size: 40px;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	color: #ff0000;
    margin-right: 8%;
}
.ei-title h3 {
	font-size: 70px;
	line-height: 50px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	color: #fff;
}
/*--------------------------------------------*/

.ei-title.title1 {
    top: 55%;
}

.ei-title.title1 h2 {
}

.ei-title.title1 h3 {
    color: #000;
    line-height: 60px;
    margin-top: 0%
}


/*--------------------------------------------*/


.ei-title.title2 {
    line-height: 60px;
    top: 50px
}

.ei-title.title2 h2 {
    padding-left: 95%;
}

.ei-title.title2 h3 {
    line-height: 85%
}

/*--------------------------------------------*/

.ei-title.title3 {
    line-height: 99px;
}

/*--------------------------------------------*/

.ei-title.title4 {
    line-height:85px;
}

.ei-title.title4 h2 {
    padding-left: 92.7%;
    color: #ffdddd;
}

.ei-title.title4 h3{
    line-height:60px;
}

/*----------------------------------------------*/


.ei-title.title5 {
    line-height: 70px;
    opacity: 0.5;
}

.ei-title.title5 h2 {
    padding-left: 92%;
}
.ei-title.title5 h3 {
    line-height: 55px;
}


/*--------------------------------------------*/

.ei-title.title6 {
    top: 1%;
    float: left;
    padding-right: 47%;
    opacity: 0.7;
}

.ei-title.title6 h2 {
    top: 1%;
    padding-left: 1%;
    float: left;
    padding-bottom: 55%
}

.ei-title.title6 h3 {
    color: #ccc;
    padding-left: 2%;
    padding-right: 4%;
    line-height: 60px;
}

/*--------------------------------------------*/

.ei-title.title8 {
    padding-right: 50%;
    top:25%
    
    
}

.ei-title.title8 h2 {
    top: 1%;
    padding-left: 1%;
    float: left;
    padding-bottom: 75%;
    color:#0bd
}

.ei-title.title8 h3 {
    color: #fff;
    padding-left: 2%;
    padding-right: 4%;
    line-height: 60px;
}

/*--------------------------------------------*/

.ei-title.title9 {
    top:50%;
    padding-left: 45%;
    
    
}

.ei-title-title9 h2 {
    padding-left: 65%;
    float: left;
    padding-bottom: 75%;
    color:#0bd;
    line-height: 55%;
    position: absolute
}

.ei-title.title9 h3 {
    color: #fff;
    padding-left: 1%;
    padding-right: 0%;
}


/*--------------------------------------------*/


.ei-title.title13{
    
}

.ei.title.title13 h2 {
    padding-left: 95%;
    display: block;
    float: right;
    color: #fff;
}

.ei-title.title13 h3 {
    
    line-height: 80%;
    margin-right: 5%;
    letter-spacing: 3px;
    text-align: right;
}
/*--------------------------------------------*/

.ei-title.title14 {
    top: 4%;    
}

.ei-title.title14 h2 {
    padding-left: 91%
}

.ei-title.title14 h3 {
    
    line-height: 80%;
    margin-right: 5%;
}


/*--------------------------------------------*/
.ei-title.title15 {
            top: 28%;

}

.ei-title.title15 h2 {
    padding-left: 92.9%;
    display: block;
        
    
}

.ei-title.title15 h3 {
        line-height: 80%;

}



/*--------------------------------------------*/
/*---------------THUMB_SLIDER----------------*/
/*------------------------------------------*/
.ei-slider-thumbs{
	height: 13px;
    width: inherit;
    padding-left: 0%;
	margin: 0% auto;
	position: relative;
}
.ei-slider-thumbs li{
	position: relative;
	float: left;
	height: 100%;
    width: 6.6%
}
.ei-slider-thumbs li.ei-slider-element{
	top: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	z-index: 10;
	text-indent: -9000px;
	background: #000;
	background: rgba(0,0,0,0.9);
}
.ei-slider-thumbs li a{
	display: block;
	text-indent: -9000px;
	background: #666 ;
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	-moz-box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	box-shadow: 
        0px 1px 1px 0px rgba(0,0,0,0.3), 
        0px 1px 0px 1px rgba(255,255,255,0.5);
	-webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover{
	background-color: #f0f0f0;
}
.ei-slider-thumbs li img{
	position: absolute;
	bottom: 50px;
	opacity: 0;
	z-index: 999;
	max-width: 100%;
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
	-webkit-box-reflect: 
        below 0px -webkit-gradient(
            linear, 
            left top, 
            left bottom, 
            from(transparent), 
            color-stop(50%, transparent), 
            to(rgba(255,255,255,0.3))
            );
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ei-slider-thumbs li:hover img{
	opacity: 1;
	bottom: 13px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/*-----------------------------------------*/
/*-----------------MEDIA-------------------*/
/*-----------------------------------------*/

@media screen and (max-width: 830px) {
	.ei-title{
		position: absolute;
		right: 0px;
		margin-right: 0px;
		width: 100%;
		text-align: center;
		top: auto;
		bottom: 10px;
		background: #fff;
		background: rgba(255,255,255,0.9);
		padding: 5px 0;
	}
	.ei-title h2, .ei-title h3{
		text-align: center;
	}
	.ei-title h2{
		font-size: 20px;
		line-height: 24px;
	}
	.ei-title h3{
		font-size: 30px;
		line-height: 40px;
	}
}