/* General Demo Style */
*, *:after, *:before { -webkit-box-: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.container {
	height: 100%;
	position: relative;
}


@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}

/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: #fff;
    background: #cb4e4e;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
    border-radius: 5px;
    box-shadow: 0 5px #ab3c3c;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

.btn:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}
/*ÔÔÔÔÔÔÔÔÔÔÔÔÔÔÔÔÔÔÔÔÔÔÔÔÔ*/
